In [1]:
import pandas as pd
import numpy as np

In [2]:
la = 0.03 * 110.574
lo = 0.06 * 111.32 * np.cos(0.03)
di = np.sqrt(la**2 + lo**2)

In [19]:
data = []

In [22]:
def add_ratio(df, sh, lon, lat, wb, wr, lb, wt):
    return df.append([sh, lon, lat, wb, wr, lb, wt,
                     float(wb)/float(wr), float(lb)/float(wb),
                     float(wb)/float(wt)])

In [24]:
add_ratio(data, 'triangle', -66.46, 45.06, 2*di, 0.2*di, 1.5*di, np.nan)
add_ratio(data, 'trapezoidal', -66.74, 45.07, di, 0.1*di, 1.5*di, di)
add_ratio(data, 'trapezoidal', -67.27, 44.63, 2*di, 0.1*di, 3*la, 1.5*di)
add_ratio(data, 'triangle', -67.80, 44.52, 0.8*di, 0.05*di, 4*la, np.nan)
add_ratio(data, 'trapezoidal', -67.80, 44.52, 1.2*di, 0.05*di, di, 1.1*di)
add_ratio(data, 'triangle', -70.64, 41.99, 4*la, 0.1*di, 1.5*di, np.nan)
add_ratio(data, 'trapezoidal', -70.66, 41.60, 1.2*di, 0.05*di, di, 1.1*di)
add_ratio(data, 'triangle', -40.5, 73.9, 17, 2, 24, np.nan)
add_ratio(data, 'triangle', -41.0, 72.0, 28, 3, 158, np.nan)
add_ratio(data, 'trapezoidal', -71.01, 42.31, 3*la, 0.3*la, 2*di, 2*la)
add_ratio(data, 'triangle', -71.38, 41.73, 1.5*di, 0.1*di, 4*la, np.nan)
add_ratio(data, 'triangle', -72.81, 41.26, 0.8*di, 0.1*di, di, np.nan)
add_ratio(data, 'triangle', -74.27, 40.49, 3*la, 0.3*la, 2*lo, np.nan)
add_ratio(data, 'trapezoidal', -75.09, 38.62, 4*la, 0.3*la, 2*lo, 4*la)
add_ratio(data, 'triangle', -75.48, 39.34, 49, 4, 98, np.nan)
add_ratio(data, 'triangle', -75.74, 37.92, 35, 4, 241, np.nan)
add_ratio(data, 'triangle', -75.85, 38.02, 1.1*di, 0.1*la, 3*di, np.nan)
add_ratio(data, 'triangle', -66.46, 45.06, 2*di, 0.05*la, 2*di, np.nan)
add_ratio(data, 'trapezoidal', -67.15, 44.83, 28, 1, 35, 15)

In [26]:
data = pd.DataFrame(data)
data.columns=['Shape', 'Lon', 'Lat',
              'Wb', 'Wr', 'Lb','Wt',
              'Rbr', 'Rlb', 'Rbt']

In [32]:
data.to_csv('shape_data.csv', index=None)

In [30]:
data.describe()

,Lon,Lat,Wb,Wr,Lb,Wt,Rbr,Rlb,Rbt
count,19.000000,19.000000,19.000000,19.000000,19.000000,7.000000,19.000000,19.000000,7.000000
mean,-67.584737,45.414211,16.043564,1.253671,38.278434,9.991621,18.925239,1.834325,1.268831
std,10.039829,10.016798,11.275938,1.170591,61.871214,3.198040,18.330845,1.660880,0.322196
min,-75.850000,37.920000,5.963919,0.165861,7.454899,6.634440,8.000000,0.667458,1.000000
25%,-73.540000,40.875000,8.945879,0.559117,11.182349,7.827644,10.000000,0.921375,1.045455
50%,-70.640000,42.310000,13.268880,0.745490,13.352389,8.200389,13.333333,1.250000,1.090909
75%,-66.945000,44.945000,15.954899,1.245490,23.182349,12.225614,22.000000,1.750000,1.416667
max,-40.500000,73.900000,49.000000,4.000000,241.000000,15.000000,89.893335,6.885714,1.866667